body {
    font-family: Arial, sans-serif;
}

.chat-container {
    margin-bottom: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-box {
    height: 300px;
    overflow-y: hidden;
    padding: 10px;
    background-color: #f9f9f92e;
}
.input-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
}

input[type="text"] {
    flex: 1;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}